.homepage{
    margin: 0;
    overflow: scroll;
    height: 1200px;
}

#loginframe {
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:22em;
    margin-top: -9em; 
    margin-left: -15em; 
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #efefef;
    font-family: Century Gothic;
}

#mainframe {
    width: 100%;
    height: 100%;   
    background-color: #d7e8e3;
}

.baskogpic{
    width:30%;
	height: 15%;
    padding: 5%;
}
hr{
    width: 100%;
}

input.btnlogin {
    width: 50%;
    height: 50;
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 30;
    color: white;
    background: #2a5127;
}

input.btncancel {
    width: 25%;
    height: 40;
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 20;
    color: white;
    background: #2a5127;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
	font-family: Verdana;
    font-weight: 600;
	font-size: 100%;
	padding: 15%; 
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
form{
	display:inline;
   
     padding:0px;
}
table {
	margin-top:10px;
    border-collapse: collapse;
    width: 100%;
	
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
.wew{
	height: 50%;
	overflow: scroll;
}
.Dbuttons{
	margin-bottom: -17px;
}

#RegTab{
	vertical-align:auto;
	position:fixed;
    top: 25%;
    left: 50%;
    width:35em;
    height:35em;
    margin-top: -9em; 
    margin-left: -15em; 
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #efefef;
    font-family: Century Gothic;    
}

hr{
	width:100%;
    height:100%;
}

#homenavbar{
    margin-top: -1%;
    margin-left:-5%;
    width:105%;
    height:30%;
    background-image: url("http://localhost/baskogsportswear/fabric.jpg");
}

.profpic {
    display: inline-block;
    margin-top: 16.5px;
    margin-left: 4%;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.profname{
    margin-top: 110px;
    width: 100%;
    color: white;
    font-size: 150%;
    font-weight: bold;
}

.bubble {
position: relative;
width: 102.2%;;
height: 50px;
margin-left: -16.2px;
background: #289E3F;
}

.bubble:after {
content: "";
position: absolute;
bottom: -25px;
left: 50px;
border-style: solid;
border-width: 25px 25px 0;
border-color: #289E3F transparent;
display: block;
width: 0;
z-index: 1;
}

.dropbtn {
    background-color: #289E3F;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    height: 50px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #12471C;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.table{
    border-collapse: separate;
    border-spacing: 20px;
    align-content: center;
    table-layout: fixed;
}

.missionvisiontable{
    text-align: center;
    width: 33%;
}

.missionvisionHeader{
    background-color: #12471C;
    color: white;
    padding: 10px;
}

.missionvisionContent{
    background-color: #EBEBEB;
    padding: 5px;
}

td{
    text-align: center;
    width: 10%;
}

